{% extends "registration/base.html" %}

{% block content_login %}
    <form method="post" action="">
	{% csrf_token %}
	<div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">@</div>
			<input type="email" class="form-control" name="email" id="id_email" placeholder="Enter email">
		</div>
    	{{ form.errors.email }}
	</div>
	<input type="submit" class="btn btn-primary" value="SEND" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}